.todo--loading{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;

    width: 85%;
    height: 55px;
    margin-bottom: 20px;
    padding: 0 10px 0 10px;

    
    border-radius: 8px;
}
.check--loading, .close--loading{
    width: 25px;
    height: 25px;
    border-radius: 50%;
}
.check--loading, .close--loading, .todo--loading{
    border: 1px solid #ffffff0c;
    background: #121212;
    background: linear-gradient(90deg, #121212 0%, #1d1d1d 100%);
    background-size: 400% 400%;
    animation: loadingAnimation 3s ease-in-out;
}

@keyframes loadingAnimation {
    0%{
        background-position: 0% 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0% 50%;
    }
    
}