.task{
    display: inline-block;

    font-size: var(--md);
    font-weight: 300;

    text-align: center;
    overflow-wrap: anywhere;
    padding: 10px 20px 10px 20px;
}
.task--completed{
    display: inline-block;
    
    text-decoration: line-through;
    font-size: var(--md);
    font-weight: 300;

    text-align: center;
    overflow-wrap: anywhere;
    padding: 10px 20px 10px 20px;
}
div ul li .icons{
    color: var(--onSfc);
}
.todo{
    display: flex;
    position: relative;
    align-items: center;
    position: relative;

    width: 85%;
    min-height: 55px;
    max-width: 350px;
    margin-bottom: 20px;
    padding: 0 10px 0 10px;

    background-color: var(--surface5);
    border-radius: 8px;
    border: 1px solid var(--onSfc);
}
.todo::after{
    content: '';
    position: absolute;
    border-right: 2px var(--surface5) solid;
    border-top: 2px var(--surface5) solid;
    border-radius: 0 8px 0 0;
    width: 15%;
    height: 35%;
    top: -1.2px;
    right: -1.2px;
    z-index: 0;
}
.rightButtons{
    position: absolute;
    top: -10px;
    right: -14px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 25px;
    gap: 4px;
    z-index: 10;
}
.check{
    transition: color 0.3s;
}
.check:hover{
    color: var(--complementary);
    cursor: pointer;
}
.edit{
    transition: color 0.3s;
}
.edit:hover{
    color: var(--analogous2);
    cursor: pointer;
}
.close:hover{
    color:var(--error);
    cursor: pointer;
}
.todo:hover{
    background-color: var(--surface8);
    cursor: pointer;
}
.inactive{
    display: none;
}