.todoInput{
    height: 40px;
    min-width: 270px;
    padding-left: 20px;

    font-family: 'Space Grotesk', sans-serif;
    font-weight: 300;
    color: var(--onSfc);

    background-color: var(--surface3);
    border-radius: 12px;
    outline: 1px solid transparent;
    border: none;
}
.todoInput::placeholder{
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 300;
}